<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="tugas2aqua"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.tugas2aqua">

        <activity
            android:name=".royalvaganza"
            android:exported="false" />
        <activity
            android:name=".selamat2"
            android:exported="false" />
        <activity
            android:name=".ekstravaganza"
            android:exported="false" />
        <activity
            android:name=".halamanredeen"
            android:exported="false" />
        <activity
            android:name=".halamanvaganza"
            android:exported="false" />
        <activity
            android:name=".selamat"
            android:exported="false" />
        <activity
            android:name=".halamanktp"
            android:exported="false" />
        <activity
            android:name=".halaman10"
            android:exported="false" />
        <activity
            android:name=".halaman9"
            android:exported="false" />
        <activity
            android:name=".ScannedBarcodeActivity"
            android:exported="false" />
        <activity
            android:name=".halaman7"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".regis"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".loginregis"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>